<div class="container mt-5">
    <h3>usuarios registrados</h3>
    <table class = "table table-striped">
    <thead>
    <tr>
        <th>Nombre Completo</th>
        <th>Correo electrónico</th>
        <th>Rol del usuario</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td>Juan</td>
        <td>juan123@gmail.com</td>
        <td>Administrador</td>
    </tr>
    <tr>
        <td>Sebastian</td>
        <td>Sebastian123@gmail.com</td>
        <td>Moderador</td>
    </tr>
    <tr>
        <td>Sergio</td>
        <td>Sergio123@gmail.com</td>
        <td>Usuario</td>
    </tr>

</tbody>
</table>


