<div class="container mt-5">
    <h3>Productos Registrados</h3>
    <table class = "table table-striped">
    <thead>
    <tr>
        <th>Nombre Del Producto</th>
        <th>Descripción Del Producto</th>
        <th>Precio</th>
        <th>Tipo de producto</th>
    </tr>
    </thead>
<tbody>
    <tr>
        <td>sarten</td>
        <td>Sarten de acero inoxidable</td>
        <td>$50000</td>
        <td>herramienta para cocina</td>  
    </tr>
    <tr>
        <td>Cepillo de dientes electrico</td>
        <td>Cepillo electrico con cerdas suaves</td>
        <td>$100000</td>
        <td>aseo personal</td>
    </tr>
    <tr>
        <td>cuaderno tapa dura</td>
        <td>cuaderno argollado con stickers</td>
        <td>$14000</td>
        <td>utiles escolares</td>
   </tr>
     <tr>
        <td>paleta de colores prima</td>
        <td>caja completa de colores prisma</td>
        <td>$80000</td>
        <td>utiles escolares</td>
    </tr>
    <tr>
        <td>mascarilla facial</td>
        <td>mascarilla facial en base a carbon activado</td>
        <td>$20000</td>
        <td>cuidado facial</td>
    </tr>

</tbody>
</table>